<div class="app-view">
  <div class="app-step-f__text">
    <p>Moltes felicitats! Has desemmascarat al traïdor.</p>
    <app-image src="assets/images/whisky-nanug.jpg"></app-image>
    <p>
      Et mereixes un bon premi, ara només has de saber on está perquè no ens
      enrecordem on el vam guardar.
    </p>
  </div>
  <div class="app-step-f__ballon-1">
    <div class="balloon">
      <div><span>F</span></div>
      <div><span>E</span></div>
      <div><span>L</span></div>
      <div><span>I</span></div>
      <div><span>Ç</span></div>
      <div><span>O</span></div>
      <div><span>S</span></div>
    </div>
  </div>
  <div class="app-step-f__ballon-2">
    <div class="app-step-f__ballon-2-separator"></div>
    <div class="balloon">
      <div><span>3</span></div>
      <div><span>0</span></div>
      <div><span>!</span></div>
    </div>
    <div class="app-step-f__ballon-2-separator"></div>
  </div>
</div>
