<div class="app-view">
  <p>
    Evidentment, amb gana no es pot pensar. Així que podem fer un parón i
    fotre'ns un bon dinar.
  </p>
  <app-image src="assets/images/food.jpg"></app-image>
  <p>Després continuarem amb la investigació.</p>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="app-form-field">
        <mat-label>Qui és el segrestador? </mat-label>
        <input
          matInput
          type="text"
          formControlName="myValue"
          autocomplete="off"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearValue()"
          *ngIf="myForm.controls.myValue.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Confirmar</button>
  </form>
</div>
