<div class="app-view">
  <app-image src="assets/images/pinxos.jpeg"></app-image>
  <p>Nombra 3 pinxos amb el nom del bar de Logronyo en menys de 20 segons.</p>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="app-form-field">
        <mat-label>Solució</mat-label>
        <input
          matInput
          type="text"
          formControlName="myValue"
          autocomplete="off"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearValue()"
          *ngIf="myForm.controls.myValue.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Confirmar</button>
  </form>
</div>
