<div class="app-view">
  <p>
    Oso ondo!! Has descobert on está el Whisky. Ara només et falta saber qui ha
    sigut el que l'ha segrestat.
  </p>
  <p>Potser ell sap alguna cosa sobre el seu segrestador. Ves a alliberar-lo</p>
  <app-image src="assets/images/whisky-free.jpg"></app-image>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="app-form-field">
        <mat-label>Què fem ara?</mat-label>
        <input
          matInput
          type="text"
          formControlName="myValue"
          autocomplete="off"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearValue()"
          *ngIf="myForm.controls.myValue.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Confirmar</button>
  </form>
</div>
