<div class="app-view">
  <div class="app-step-z__text">
    <app-video src="assets/videos/video-final.mp4"></app-video>
    <p>
      Em volgut fer un petit homenatge a tu i a la teva “altre” mitja tronja, la
      calle Laurel. Gracies per ajudar a la restauració a recuperar-se de la
      febre Cesc Zuko.
    </p>
    <h1>T’ESTIMEM MOLT BONICA!!</h1>
  </div>
  <div class="app-step-z__ballon-1">
    <div class="balloon">
      <div><span>B</span></div>
      <div><span>O</span></div>
      <div><span>N</span></div>
      <div><span>I</span></div>
      <div><span>C</span></div>
      <div><span>A</span></div>
    </div>
  </div>
</div>
