.app-root__container {
  height: 100%;
}

.app-root__content {
  position: relative;
}

.app-root__title {
  flex: 1 1 auto;
  text-align: center;
}

.app-root__mat-sidenav-content {
  overflow-x: hidden;
}
