<div>
  <p>Còrsega</p>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Segrestat</mat-label>
        <input
          matInput
          type="text"
          formControlName="myValue"
          autocomplete="off"
        />
        <button
          mat-button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          type="button"
          (click)="clearValue()"
          *ngIf="myForm.controls.myValue.value"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary">Next!!!</button>
  </form>
</div>
