<div class="app-view">
  <app-video src="assets/videos/video-principal.mp4"></app-video>
  <p>
    En Cesc Zuko s’ha ficat en un embolic. Com ja sabem li agrada molt beure i
    menjar, pero no tant pagar. Ajuda’l a saldar el deute refent el seu
    recorregut. Seràs capaç de trobar els locals que van quedar secs desprès de
    la seva visita? Les Pink Ladies t’ajudaran a trobar-los.
  </p>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <button mat-raised-button color="primary">Següent</button>
  </form>
</div>
